@import "../../styles/global.scss";

.memory-titles {
  cursor: pointer;
  .paper {
    padding: 0.75rem;
    height: 100%;
    @include transition(300ms);
    display: flex;
    align-items: center;
    
    &:hover {
      background: #121212;
      color: white;
      filter: drop-shadow(2px 4px 6px black);
      -webkit-filter: drop-shadow(2px 4px 6px black);
    }

    h4 {
      text-transform: capitalize;
    }
  }
}

.dark {
  .memory-titles .paper {
    background: $dm-card-bg;
    color: $dm-card-text;

    &:hover {
      background: hsl(240, 1%, 11%);
    }
  }
}
