@import '../../styles/global.scss';

.app-input-group {
  display: flex;
  flex-direction: column;
  label {
    text-align: left;
    font-weight: 600;
    color: $dm-main-color;
    margin-bottom: 0.5rem;
  }
  input,
  textarea {
    outline: none;
    border-color: transparent;
    padding: 0.5rem 0.25rem;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    background: #f3f3f3;
    color: $dm-main-color;
    @include radius(0.3rem);
    @include transition(300ms);

    &:focus {
      background: white;
      border-color: $main-color;
    }
  }

  textarea {
    resize: vertical;
    min-height: 150px;
  }
}
