@import '../../../styles/global.scss';

.content-modal-title {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}

.content-modal-title:read-only {
  border: none;
  outline: none;
}

.memory-modal-footer {
  display: flex;
  margin-top: 1rem;

  .memory-modal-actions button:first-child {
    margin-right: 0.5rem;
  }
}

.editable-memory {
  display: flex;
  flex-direction: column;
  .app-input-group {
    margin-bottom: 1rem;

    textarea {
      min-height: 350px;
    }
  }

  img {
    max-width: 100%;
    max-height: 300px;
    margin: 0 auto 0.75rem !important;
    object-fit: contain;
  }
}

.dark {
  .editable-memory {
    .app-input-group {
      input,
      textarea {
        background: $hover-dm-card-bg;
        color: $hover-dm-dark-text;
        &:focus {
          border-color: $dm-main-color;
        }
      }
    }
  }
}
