@import '../../styles/global.scss';

footer {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $main-color;
  color: white;
  @include transition(300ms);
}

.dark footer {
  background: $dm-main-color;
}
