@import '../../styles/global.scss';

.content-titles {
  cursor: pointer;
  .paper {
    padding: 0.75rem;
    height: 100%;
    @include transition(300ms);
    display: flex;
    align-items: center;

    &:hover {
      background: $hover-card-bg;
    }

    h4 {
      text-transform: capitalize;
    }
  }

  .paper.new-memory {
    background: $main-color;
    color: $bg;
  }
}

.dark {
  .content-titles .paper {
    background: $dm-card-bg;
    color: $dm-card-text;

    &:hover {
      background: $hover-dm-card-bg;
      color: $hover-dm-dark-text;
    }
  }

  .paper.new-memory {
    background: $dm-main-color;
    color: $bg;
    &:hover {
      background: $dm-main-color;
      color: $bg;
      @include transform(scale(1.03));
    }
  }
}
